
/*LOS COLORS SON ESTOS:
 Color Boton Next: #ff00ba
Boton Google Maps: #8763ab
Mensaje Google Maps: #490086
Purple: #4f0083  */

/* ..........seccion phone2.html............ */


.seccion-codigo{
	text-align: center;
}

.codigo-h2{
	text-align: center;
}

#codigo h1{
	font-size: 1.4rem;
    margin: 0.7rem;
    font-weight: 700;
}

#codigo hr{
	width: 100%;
}

#codigo i{
	font-size: 2.5rem;
}

#codigo input{
	font-size: 2.5em;
	width: 70px;
}

.lab{
	font-size: 2em;
}

/*para que el boton a ocupe 100% del ancho de pantalla*/
.btn-verify{
	background-color: #ff00ba;
	color: #fff;
	width: 100%;
	
	margin-left:0;
	margin-right:0;
	padding: 20px 0;
	display:block;
	text-align:center;
	position: fixed;
    bottom: 0;
}

/* .........FIN seccion phone2.html.......... */